#! /bin/bash
{{ ansible_env.HOME }}/bin/set_brightness.py 80

{{ ansible_env.HOME }}/bin/copy_files.sh &
{{ ansible_env.HOME }}/bin/update_repos.sh &

firefox &
hipchat4 &
LC_TMUX_SESSION_NAME=session-1 gnome-terminal --maximize --working-directory='{{ ansible_env.HOME }}/energysavvy/' &
LC_TMUX_SESSION_NAME=session-2 gnome-terminal --maximize --working-directory='{{ ansible_env.HOME }}/energysavvy/' &
