<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body class="bills">
          {% set parse = bills.parse() %}
          {% if parse %}
              <table>
              {% for bill in bills.parse() %}
                  <tr class="bill"><td colspan="2">{{ bill.bill }}: ${{ bill.amount }} due {{ bill.due_date.strftime("%A, %B %d") }}</td></tr>
                  {% for name in bill.names|sort %}
                      {% if bill.names[name].paid %}
                          <tr class="paid">
                      {% else %}
                          <tr>
                      {% endif %}
                      <td><a href="/total/{{ name }}">{{ name.capitalize() }}</a> </td><td> ${{ "%.2f" % bill.names[name].amount }}</td>
                      </tr>
                  {% endfor %}
                  <tr><td></td></tr>
              {% endfor %}
              </table>
          {% endif %}
  </body>
</html>
