[Unit]
Description=Dropbox

[Service]
Type=forking
ExecStart=/usr/bin/dropbox start -i
PIDFile=%h/.dropbox/dropbox.pid
Restart=on-failure

[Install]
WantedBy=default.target
