#! /bin/bash

firefox -CreateProfile work
firefox -CreateProfile communication
firefox -CreateProfile personal
firefox -p work &
firefox -p communication &
firefox -p personal &
gnome-terminal --maximize --hide-menubar --working-directory='/home/{{ ansible_env.USER }}/workspace/' --command="tmux new-session -s {{ ansible_env.USER }}-session-1" &
zoom &

place-windows
